<app-top-menu></app-top-menu>
<app-aside-menu></app-aside-menu>

<img class="map" src="../../../../assets/img/facade.jpg" usemap="#facade" (window:resize)="resizeReloader()">
<map name="facade">
  <area *ngFor="let floor of floorsList" 
    (click)="openModal($event, floor.properties.imageWidth, floor.properties.imageHeight); openAsideMenu(floor.id, 'floor')" 
    (mouseleave)="floorDetailsHide()" 
    (mouseenter)="floorDetails($event, floor, floor.properties.imageWidth, floor.properties.imageHeight)"
    [attr.id]="floor.id" 
    [attr.target]="" 
    [attr.alt]="floor.properties.name" 
    [attr.title]="floor.properties.name"
    [attr.href]="" 
    [attr.shape]="floor.geometry.type" 
    [attr.coords]="floor.geometry.coordinates"
  >
</map>
<div class="floor_popup">
  <span class="floor_data"></span>
</div>
<div id="floor_modal" class="zoom_out_object">
  <div class="floor_modal_close" (click)="closeModal($event)"></div>
  <img id="floor_modal_image" alt="1 floor" usemap="#floor">
  <map name="floor">
    <area *ngFor="let flat of flatsCoordsList" (click)="openFlatModal(flat[0], 'flat')" [attr.target]="" [attr.alt]=flat[1] [attr.title]=flat[1] href="#" [attr.coords]=flat[4] shape="poly">
  </map>
</div>
<div id="flat_modal" class="zoom_out_object">
  <img id="flat_modal_image">
</div>
<div class="background_layer"></div>
