<app-top-menu></app-top-menu>
<app-aside-menu></app-aside-menu>
<app-floor-modal></app-floor-modal>

<img class="map" src="../../../../assets/img/facade.jpg" usemap="#facade" (window:resize)="resizeReloader()">
<map id="map_area" name="facade">
  <area *ngFor="let floor of floorsList" 
    (click)="openModal($event, floor.properties.imageWidth, floor.properties.imageHeight, floor.id); openAsideMenu(floor.id, 'floor')" 
    (mousemove)="floorDetails($event, floor)"
    (mouseleave)="floorDetailsHide()" 
    [attr.id]="floor.id" 
    [attr.target]="" 
    [attr.alt]="floor.properties.name"
    [attr.href]="" 
    [attr.shape]="floor.geometry.type" 
    [attr.coords]="floor.geometry.coordinates"
  >
</map>

<div class="floor_popup">
  <span class="floor_data"></span>
</div>
<div class="background_layer"></div>
