.map_highlight {
    display: block; 
    background-image: url("../assets/img/luxor6floor_sold.png"); 
    background-size: contain; 
    position: relative; 
    padding: 0px; 
    width: 850px; 
    height: 550px;
}