.top_menu_burger {
    box-sizing: border-box;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10000;
}

.burger_lines {
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 1px);
    width: 30px;
    height: 2px;
    background: rgb(255, 255, 255);
}

.burger_lines::after,
.burger_lines::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: rgb(255, 255, 255);
}

.burger_lines::after {
    top: -13px;
}

.burger_lines::before {
    bottom: -13px;
}

#top_menu {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    z-index: 100000;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.75);
}

.top_menu_home {
    box-sizing: border-box;
    width: 150px;
    border-right: 1px solid rgb(0, 0, 0);
    position: relative;
}

.top_menu_home a {
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 32.25px);
    display: block;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;
}

.top_menu_home a:hover {
    color: rgb(255, 0, 0);
    transition: .5s;
}

.top_menu_items {
    box-sizing: border-box;
    width: 770px;
    padding-left: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid rgb(0, 0, 0);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.top_menu_item {
    box-sizing: border-box;
    display: flex;
}

.building_name,
.building_type,
.building_city {
    box-sizing: border-box;
    padding-left: 20px;
    display: block;
}

.building_finishing {
    box-sizing: border-box;
    display: block;
}

.close_catalog {
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    top: calc(50% - 20px);
    right: 20px;
    cursor: pointer;
}

.close_catalog::before,
.close_catalog::after {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    top: 18px;
    left: 4px;
}

.close_catalog::before {
    transform: rotate(45deg);
}

.close_catalog::after {
    transform: rotate(-45deg);
}

@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
.slide_in_down {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
  
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
}
  
@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
  
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
}
  
.slide_out_down {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    #top_menu {
        height: 50px;
    }

    .top_menu_home {
        width: 60px;
    }

    .top_menu_home a {
        top: calc(50% - 8px);
        left: calc(50% - 17.5px);
        font-size: 13px;
    }

    .top_menu_items {
        width: 225px;
        font-size: 13px;
        padding-left: 10px;
    }

    .close_catalog {
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
        right: 10px;
    }
    
    .close_catalog::before,
    .close_catalog::after {
        width: 13px;
        height: 1px;
        top: 8.5px;
        left: 2px;
    }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
    #top_menu {
        height: 50px;
    }

    .top_menu_home {
        width: 60px;
    }

    .top_menu_home a {
        top: calc(50% - 8px);
        left: calc(50% - 17.5px);
        font-size: 13px;
    }

    .top_menu_items {
        width: 290px;
        font-size: 13px;
        padding-left: 10px;
    }

    .close_catalog {
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
    }
    
    .close_catalog::before,
    .close_catalog::after {
        width: 13px;
        height: 1px;
        top: 8.5px;
        left: 2px;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    #top_menu {
        height: 50px;
    }

    .top_menu_home {
        width: 100px;
    }

    .top_menu_home a {
        top: calc(50% - 12px);
        left: calc(50% - 27px);
        font-size: 18px;
    }

    .top_menu_items {
        width: 400px;
        font-size: 18px;
    }

    .close_catalog {
        width: 20px;
        height: 20px;
        top: calc(50% - 10px);
    }
    
    .close_catalog::before,
    .close_catalog::after {
        width: 13px;
        height: 1px;
        top: 8.5px;
        left: 2px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1200px) {
    .top_menu_home a {
        top: calc(50% - 12px);
        left: calc(50% - 27px);
        font-size: 20px;
    }

    .top_menu_items {
        width: 550px;
        font-size: 20px;
    }
}